<div class="modal-container" [class.active]="showModal">
  <div class="custom-modal">
    <div class="modal-header">
      Pick a format to export your tour
    </div>

    <div class="modal-body">
      <div class="form-check">
        <label class="form-check-label" (click)="selectFormat($event.target.value)">
          <input type="radio" name="format" class="form-check-input" value="pdf"> PDF
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" (click)="selectFormat($event.target.value)">
          <input type="radio" name="format" class="form-check-input" value="csv"> CSV
        </label>
      </div>
      <div class="form-check" (click)="selectFormat($event.target.value)">
        <label class="form-check-label">
          <input type="radio" name="format" class="form-check-input" value="json"> JSON
        </label>
      </div>

      <div class="form-check save-check" (click)="this.save = !this.save">
        <label class="form-check-label">
          <i [class]="getIconClass()"></i>
          Save to favorites
        </label>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-danger" (click)="dismiss(true)">Cancel</button>
      <button class="btn btn-info" (click)="dismiss(false)" [disabled]="!format">Download</button>
    </div>
  </div>
</div>
