div.modal-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.4);
  display: none;

  &.active {
    display: flex;
  }

  div.custom-modal {
    width: 300px;
    max-width: 90%;
    background: #fff;
    border-radius: 4px;

    div.modal-body {
      .form-check-label {
        width: 100%;
      }

      .save-check {
        padding: 0;
        margin: 1.2em 0 0.5em;
      }
    }
  }
}
