nav {
  ul {
    li {
      div.items-badge {
        border-radius: 10px;
        background-color: #e82727;
        color: #fff;
        position: absolute;
        height: 20px;
        width: 30px;
        right: 10px;
        top: 10px;
        text-align: center;
        font-size: 14px;
        line-height: 18px;

      }
    }
  }
}
