<div class="container">
  <form>
    <div class="row">
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          id="searchbar"
          name="query"
          #searchbar
          [(ngModel)]="query"
          aria-describedby="searchHelp"
          placeholder="Enter location">
        <small id="searchHelp" class="form-text text-muted">Enter a Address/City/State or Zipcode within the US</small>
      </div>

      <div class="col-md-3">
        <select name="radius" (change)="search(query.trim())" class="form-control" id="searchradius" aria-describedby="radiusHelp"[(ngModel)]="searchRadius">
          <option *ngFor="let option of radiusOptions" [value]="option">{{option}} mi.</option>
        </select>
        <small id="radiusHelp" class="form-text text-muted">Search radius</small>
      </div>
    </div>
  </form>

  <div class="row content">
    <div class="col col-xm-12 loader" *ngIf="isLoading$ | async">
      <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="alert alert-danger alert-dismissible fade show" *ngIf="showAlert" role="alert">
      <strong>Error!</strong> {{error$ | async}}
      <button type="button" class="close" (click)="showAlert=false;" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="col col-sm-12 table-container" *ngIf="resultsLength$ | async">
      <div class="row table-information">
        <div class="col-sm-12">
          Results for <i>"{{query}}"</i> within {{searchRadius}} miles
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Filter</span>
            </div>
            <input class="form-control" (keyup)="filter($event.target.value)" type="text" placeholder="Filter by etc">
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <td>
              <div class="checkbox" (click)="selectAll()">
                <div class="checkbox-fill"></div>
              </div>
            </td>
            <td class="sorteable" [class]="sorting.id" (click)="sort('id')">Id</td>
            <td class="sorteable" [class]="sorting.name" (click)="sort('name')">name</td>
            <td class="sorteable" [class]="sorting.address" (click)="sort('address')">address</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of results" (click)="onItemClicked(item)" [class.active]="item.checked">
            <td>
              <div class="checkbox">
                <div class="checkbox-fill"></div>
              </div>
            </td>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.address}}</td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-primary">Save your itinerary</button>
    </div>
  </div>
</div>
